.div_1{
    background-color: rgb(197, 196, 196);
    height: 50px;
    text-align: center;
}

p{
    font-size: 20px;
    padding-top: 10px;
}
a{
    font-size: 20px;
    text-align: center;
    text-decoration: none;
}
.container{
    margin-top: 15px;
}
.box{
    padding: 10px 10px 5px 10px;
    height: 40px;
    margin-right: 15px;
    background-color: rgb(159, 178, 215);
    border: 0px solid black;
    display: inline-block;
}
.style{
    background-color: rgb(146,227,146);
}