body{
    font-family: Arial, sans-serif;
    margin:0;
    padding:0;  
    background-color: rgb(245, 240, 240);
}
h1{
    text-align:center;
    Padding: 20px;
    color: rgb(56, 50, 50); 
}
.product-grid{
    display : grid;
    gap: 20px;
    padding: 20px;
    max-width:1200px;
    margin : auto;
}
.product-card{
    background: rgb(226, 216, 216);
    border:1px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgb(226, 216, 216);
}
.product-card img{
    width:100%;
    height:100px;
   object-fit:cover;
    border-top-right-radius : 8px;
    
}
.product-card h3{
    margin:10px 0;
    color: rgb(56, 50, 50);
    font-size:20px;
}
.product-card p{
    color: rgb(88, 81, 81);
    font-size:16px;
    padding:0 10px 10px 10px;
}
.price{
    font-size:18px;
    color: rgb(34, 150, 34);
    font-weight:bold;
    margin:10px 0;
}
.btn{
    display:inline-block;
    padding:10px 15px;
    margin-top:15px;
    cursor:pointer;
    background-color: rgb(66, 74, 150);
    color:white;    
    border:none;
    border-radius:5px;
    text-decoration:none;
}
@media(max-width:600px){
    .product-grid{
        height: 150px;
    }
    .product-card img{
        height:80px;
    }
    .product-card h3{
        font-size:1px;
    }
    
    }
