body {
    background-color: lightblue;
    text-align : center;
    
}
img {
    width: 300px;
    height: 250px;
    border-radius: 15px;
    background-color: white;
}
h3{
    color: red
}
button {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}